.top-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.header-container {
  position: relative;
  text-align: center;
  padding: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 160px;
}
@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) rotate(162.54deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(162.54deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(162.54deg) scale(1);
  }
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  height: 490px;
  background: transparent;
  border: 1px solid #05FF00;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(162.54deg);
  animation: pulsate 5s ease-in-out infinite;
}

.text-below {
  position: relative;
  font-weight: 450;
  z-index: 2;
  margin-top: 5px; /* Add some space between the main text and below text */
  font-size: 40px;
}

.centered-text {
  position: relative;
  z-index: 3;
  font-size: 128px;
}

.header-wrapper {
  overflow: hidden;
}
.top-logo-desktop {
  display: flex;
}
.top-logo-mobile {
  display: none;
  font-size: 14px;
  padding:16px;
  margin-bottom: 200px;
}

@media screen and (max-width: 1439px) {
  .top-logo-desktop {
    display: none;
  }
  .top-logo-mobile {
    display: flex;
  }
  .content {
    width: max-content;
  }
  .centered-text {
    font-size: 64px;
  }
  .text-below {
    font-size: 18px
  }
  .ellipse {
    width: 838px;
    height: 316px;
  }
}
