<app-menu></app-menu>
<div class="contact-wrapper margin-y-160">
  <div class="contact-title">
    CONTACT
  </div>
  <div class="contact-email inward-green">
    info&commat;inward.studio
  </div>
  <div class="contact-content">
    <div class="contact-content-section">
      <div class="contact-content-title">
        Got an Idea? <br />
        Let's talk.
      </div>
      <div class="contact-content-text">
        Got a spark of an idea you’re itching to explore? Hit us up. Booking a call with us is your first step towards making it real. Whether it's a sketch on a napkin or a fully-fledged vision, we're here to listen, strategize, and turn your concepts into creations.
      </div>
      <div class="contact-content-button-wrapper">
        <button class="inward-button contact-content-button">LETS TALK</button>
      </div>
    </div>
    <div class="contact-content-section">
      <div class="contact-content-title">
        Embark on a Design Odyssey
      </div>
      <div class="contact-content-text">
        Got a spark of an idea you’re itching to explore? Hit us up. Booking a call with us is your first step towards making it real. Whether it's a sketch on a napkin or a fully-fledged vision, we're here to listen, strategize, and turn your concepts into creations.
      </div>
      <div class="contact-content-button-wrapper">
        <button class="inward-button contact-content-button">GET IN TOUCH</button>
      </div>
    </div>
    <div class="contact-content-section contact-content-section-book-a-call">
      <div class="contact-content-button">
        <button class="inward-button book-a-call-button">BOOK <br />A CALL</button>
      </div>
    </div>
  </div>
</div>
