<div class="welcome-section margin-y-160">
  <div class="welcome-content-wrapper">
    <img class="about-ellipse" ngSrc="assets/about-ellipse.svg" height="307" width="628" alt="about-ellipse">
    <div class="welcome-content-header">WELCOME TO THE CROSSROADS OF THE FUTURE.</div>
    <div class="welcome-content-description">
      We're in the business of making brands shine in the digital age, empowering our clients with rocket-speed and confidence.
    </div>
    <div class="tagline">That's our JAM.</div>
  </div>
</div>
