<div class="top-logo">
  <img ngSrc="/assets/logo-white.svg" alt="logo" height="120" width="120"/><div class="mobile-menu-divider"></div>
</div>
<div class="header-container">
  <div class="ellipse"></div>
  <div class="centered-text">INWARD</div>
  <div class="text-below">BRAND STRATEGY & WEB 4.0 TO<br> ELEVATE YOUR PRESENCE.</div>
</div>
<app-menu></app-menu>
<div class="layout-spacer"></div>
<div class="video-container">
  <video controls>
    <source src="https://www.youtube.com/watch?v=K4TOrB7at0Y" type="video/mp4">
  </video>
</div>
<div class="layout-spacer"></div>
<div class="strategies-wrapper">
  <app-horizontal-scroll
    direction="left"
    speed="slow">
  </app-horizontal-scroll>

  <app-horizontal-scroll
    direction="right"
    speed="slow">
  </app-horizontal-scroll>
</div>

<div class="strategies-wrapper">
  <div class="strategies-portal strategy-portal-left"></div>
  <div class="strategies-portal strategy-portal-right"></div>

</div>
<div class="layout-spacer"></div>
<div class="approach-wrapper">
  <div class="approach-text">
    <span class="green-text">Our approach</span>
    <span class="white-text"> is based on the <br/>combination of</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-experimentation.svg" alt="approach-experimentation"
         height="160" width="160"/>
    <span class="approach-element-text">EXPERIMENTATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-collaboration.svg" alt="approach-collaboration"
         height="160" width="160"/>
    <span class="approach-element-text">COLLABORATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-implementation.svg" alt="approach-implementation"
         height="160" width="160"/>
    <span class="approach-element-text">IMPLEMENTATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-testing.svg" alt="approach-testing"
         height="160" width="160"/>
    <span class="approach-element-text">TESTING</span>
  </div>
  <hr class="approach-element-spacer" />
</div>
<div class="layout-spacer"></div>
<div class="latest-projects-wrapper">
  <span class="latest-projects-title">LATEST PROJECTS</span>
  <div class="latest-projects-card">
    <div  class="latest-projects-card-tags">
      <span class="latest-projects-card-tag">WEB 4.0</span>
      <span class="latest-projects-card-tag">WEB 4.0</span>
    </div>
    <img class="latest-projects-card-image" width="355" height="520" ngSrc="/assets/latest-projects-project.png" alt="latest-projects" />
  </div>
  <div class="latest-projects-card">
    <div  class="latest-projects-card-tags">
      <span class="latest-projects-card-tag">WEB 4.0</span>
      <span class="latest-projects-card-tag">WEB 4.0</span>
    </div>
    <img class="latest-projects-card-image" width="355" height="520" ngSrc="/assets/latest-projects-project.png" alt="latest-projects" />
  </div>
  <div class="latest-projects-card">
    <div  class="latest-projects-card-tags">
      <span class="latest-projects-card-tag">WEB 4.0</span>
      <span class="latest-projects-card-tag">WEB 4.0</span>
    </div>
    <img class="latest-projects-card-image" width="355" height="520" ngSrc="/assets/latest-projects-project.png" alt="latest-projects" />
  </div>
  <button class="latest-projects-button">CHECK ALL PROJECTS</button>
</div>
<div class="layout-spacer"></div>
<div class="our-clients-wrapper">
  <span class="our-clients-title">How our clients describe us:</span>
  <div class="our-clients-card our-clients-card-white">
    CARD 1
  </div>
  <div class="our-clients-card our-clients-card-green">
    CARD 2
  </div>
  <div class="our-clients-card  our-clients-card-white">
    CARD 3
  </div>
  <button class="our-clients-button">SEE ALL</button>
</div>
<div class="layout-spacer"></div>
READY TO TALK
<div class="layout-spacer"></div>
<div class="footer-wrapper">
  <div class="footer-col">
    <div class="footer-inward-studio">INWARD STUDIO</div>
    <div class="footer-born-in-raised">
      <span class="footer-born-in">Born in LA,</span>
      <span class="footer-raise">Raised around the world</span>
    </div>
  </div>
  <div class="footer-col">
    <a class="footer-link" href="/about">About</a>
    <a class="footer-link" href="/projects">Projects</a>
    <a class="footer-link" href="/articles">Articles</a>
    <a class="footer-link" href="/contact">Contact</a>
  </div>
  <div class="footer-col">
    <a class="footer-link" href="http://instagram.com">Instagram</a>
    <a class="footer-link" href="http://linkedin.com">Linkedin</a>
    <a class="footer-link" href="http://dribble.com">Dribble</a>
    <a class="footer-link" href="http://behance.com">Behance</a>
  </div>
  <div class="footer-col">
    <button>GO TOP</button>
  </div>
  <hr class="footer-divider" />
  <span class="footer-copyright">©Inwardstudio LLC 2023</span>
  <span class="cookies"><a>Cookies & Policies</a></span>
</div>
