<div class="top-logo">
  <img ngSrc="/assets/logo-white.svg" alt="logo" height="120" width="120"/><div class="mobile-menu-divider"></div>
</div>
<div class="header-container">
  <div class="ellipse"></div>
  <div class="centered-text">INWARD</div>
  <div class="text-below">BRAND STRATEGY & WEB 4.0 TO<br> ELEVATE YOUR PRESENCE.</div>
</div>
<app-menu></app-menu>
<div class="layout-spacer"></div>
<div class="video-container">
  <video controls>
    <source src="https://www.youtube.com/watch?v=K4TOrB7at0Y" type="video/mp4">
  </video>
</div>
<div class="layout-spacer"></div>
ALL OUR SERVICES
<div class="layout-spacer"></div>
<div class="approach-wrapper">
  <div class="approach-text">
    <span class="green-text">Our approach</span>
    <span class="white-text"> is based on the <br/>combination of</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-experimentation.svg" alt="approach-experimentation"
         height="160" width="160"/>
    <span class="approach-element-text">EXPERIMENTATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-collaboration.svg" alt="approach-collaboration"
         height="160" width="160"/>
    <span class="approach-element-text">COLLABORATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-implementation.svg" alt="approach-implementation"
         height="160" width="160"/>
    <span class="approach-element-text">IMPLEMENTATION</span>
  </div>
  <hr class="approach-element-spacer" />
  <div class="approach-element">
    <img class="approach-element-img" ngSrc="/assets/approach-testing.svg" alt="approach-testing"
         height="160" width="160"/>
    <span class="approach-element-text">TESTING</span>
  </div>
  <hr class="approach-element-spacer" />
</div>
<div class="layout-spacer"></div>
LATEST PROJECTS
<div class="layout-spacer"></div>
HOW OUR CLIENTS
<div class="layout-spacer"></div>
READY TO TALK
<div class="layout-spacer"></div>
FOOTER
