<div class="top-logo">
  <img ngSrc="/assets/logo-white.svg" alt="logo" height="60" width="60"/><div class="mobile-menu-divider"></div>
</div>
<div class="header-container">
  <div class="ellipse"></div>
  <div class="centered-text">INWARD</div>
  <div class="text-below">BRAND STRATEGY & WEB 4.0 TO<br> ELEVATE YOUR PRESENCE.</div>
</div>
<app-menu></app-menu>
<div class="video-container">
  <video controls>
    <source src="https://www.youtube.com/watch?v=K4TOrB7at0Y" type="video/mp4">
  </video>
</div>
<div class="approach-wrapper">
  <div class="approach-text">
    <span class="green-text">Our approach</span>
    <span class="white-text"> is based on the <br/>combination of</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" height="60" width="60" ngSrc="/assets/approach-experimentation.svg" alt="approach-experimentation"/>
    <span class="approach-element-text">EXPERIMENTATION</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" height="60" width="60" ngSrc="/assets/approach-collaboration.svg" alt="approach-collaboration"/>
    <span class="approach-element-text">COLLABORATION</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" height="60" width="60" ngSrc="/assets/approach-implementation.svg" alt="approach-implementation"/>
    <span class="approach-element-text">IMPLEMENTATION</span>
  </div>
  <div class="approach-element">
    <img class="approach-element-img" height="60" width="60" ngSrc="/assets/approach-testing.svg" alt="approach-testing"/>
    <span class="approach-element-text">TESTING</span>
  </div>
</div>
