<div class="what-we-do-section margin-y-160">
  <div class="what-we-do-content-wrapper">
    <div class="section-title">What we do?</div>
    <div class="services-container">
      <div class="service-item">
        <div class="service-content">
          <div class="service-title">DESIGN</div>
          <div class="service-tags">
            <span class="tag">WEB 4.0</span>
            <span class="tag">DEVELOPMENT</span>
            <span class="tag">E-COMMERCE</span>
          </div>
          <div class="service-description">
            We design the entire thing. Just sit back, relax and get ready for lift-off. Full digital experiences, clear messaging, and plain common sense.
          </div>
        </div>
        <div class="service-image-wrapper">
          <img ngSrc="assets/approach-design-about.svg" alt="approach-design-about" class="service-image" height="300" width="300"/>
        </div>
      </div>
      <div class="service-item">
        <div class="service-content">
          <div class="service-title">DEVELOP</div>
          <div class="service-tags">
            <span class="tag">WEB 4.0</span>
            <span class="tag">DEVELOPMENT</span>
            <span class="tag">E-COMMERCE</span>
          </div>
          <div class="service-description">
            We design the entire thing. Just sit back, relax and get ready for lift-off. Full digital experiences, clear messaging, and plain common sense.
          </div>
        </div>
        <div class="service-image-wrapper">
          <img ngSrc="assets/approach-develop-about.svg" alt="approach-develop-about" class="service-image" height="300" width="300"/>
        </div>
      </div>
      <div class="service-item">
        <div class="service-content">
          <div class="service-title">STRATEGY</div>
          <div class="service-tags">
            <span class="tag">WEB 4.0</span>
            <span class="tag">DEVELOPMENT</span>
            <span class="tag">E-COMMERCE</span>
          </div>
          <div class="service-description">
            We design the entire thing. Just sit back, relax and get ready for lift-off. Full digital experiences, clear messaging, and plain common sense.
          </div>
        </div>
        <div class="service-image-wrapper">
          <img ngSrc="assets/approach-strategy-about.svg" alt="approach-strategy-about" class="service-image" height="300" width="300"/>
        </div>
      </div>
    </div>
  </div>
</div>
