<div class="cta-container">
  <header class="cta-header">
    <div class="cta-title inward-title">
      <span class="highlight-text">Ready to talk?</span>
      <br />
      Let's discuss your next big project!
    </div>
  </header>
  <div class="cta-content">
    <img ngSrc="assets/inward-background.svg" alt="" class="background-image" fill/>
    <div class="button-wrapper" [routerLink]="['/contact']">
      <button class="cta-button"><span>BOOK A CALL</span></button>
    </div>
  </div>
</div>
