<div class="capabilities margin-y-160">
  <div class="capabilities-section">
    <div class="capabilities-content-title inward-title inward-green align-center">Our capabilities</div>
    <div class="capabilities-content-wrapper">
      <div class="section-header">
        <div class="section-title">DESIGN</div>
      </div>
      <div class="services-container">
        <div class="service-column">
          <ul class="service-list">
            <li>Brand Design</li>
            <li>Corporate Design</li>
            <li>Logo</li>
            <li>Brand Guidelines</li>
            <li>Design Systems</li>
          </ul>
        </div>
        <div class="service-column">
          <ul class="service-list">
            <li>Packaging Design</li>
            <li>Editorial Design</li>
            <li>Video Design</li>
            <li>Animation</li>
            <li>Motion Graphic</li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="capabilities-divider">
    <div class="capabilities-content-wrapper">
      <div class="section-header">
        <div class="section-title">DEVELOP</div>
      </div>
      <div class="services-container">
        <div class="service-column">
          <ul class="service-list">
            <li>Brand Design</li>
            <li>Corporate Design</li>
            <li>Logo</li>
            <li>Brand Guidelines</li>
            <li>Design Systems</li>
          </ul>
        </div>
        <div class="service-column">
          <ul class="service-list">
            <li>Packaging Design</li>
            <li>Editorial Design</li>
            <li>Video Design</li>
            <li>Animation</li>
            <li>Motion Graphic</li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="capabilities-divider">
    <div class="capabilities-content-wrapper">
      <div class="section-header">
        <div class="section-title">STRATEGY</div>
      </div>
      <div class="services-container">
        <div class="service-column">
          <ul class="service-list">
            <li>Brand Design</li>
            <li>Corporate Design</li>
            <li>Logo</li>
            <li>Brand Guidelines</li>
            <li>Design Systems</li>
          </ul>
        </div>
        <div class="service-column">
          <ul class="service-list">
            <li>Packaging Design</li>
            <li>Editorial Design</li>
            <li>Video Design</li>
            <li>Animation</li>
            <li>Motion Graphic</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
