<div class="testimonials-container margin-y-160">
  <div class="testimonials-header">
    <div class="testimonials-title">
      <span class="highlight">How our clients</span> describe us:
    </div>
  </div>
  <div class="testimonials-grid">
    <div class="testimonial-card" *ngFor="let testimonial of testimonials">
      <div class="testimonial-inner">
        <div class="front">
          <div class="testimonial-keywords">
            <span *ngFor="let keyword of testimonial.keywords">{{ keyword }}</span>
          </div>
          <hr class="testimonial-divider" />
          <div class="testimonial-rating">
            <span class="rating-label">{{ testimonial.ratingLabel }}:</span>
            <div class="rating-stars">
              <img *ngFor="let star of generateArray(testimonial.stars)" src="assets/star-rating.svg" height="29" width="28" [alt]="testimonial.ratingLabel + ' star'" class="star-icon" />
            </div>
          </div>
          <hr class="testimonial-divider" />
          <div class="testimonial-footer">
            <div class="client-name">{{ testimonial.clientName }}</div>
            <div class="client-location">{{ testimonial.clientLocation }}</div>
          </div>
        </div>
        <div class="back">
          <div class="testimonial-back-content">
            <div class="hover-text">
              {{ testimonial.hoverText }}
            </div>
            <hr class="testimonial-back-divider" />
            <div class="testimonial-back-footer">
              <div class="client-name">
                {{ testimonial.clientName }}
              </div>
              <img class="arrow-right" ngSrc="assets/arrow-right.svg" height="24" width="24" alt="arrow-right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="align-center">
    <button class="see-all-button inward-button" (click)="seeAllTestimonials()">SEE ALL</button>
  </div>
</div>
