<div class="strategies-wrapper">
  <div class="strategies-portal strategies-portal-left">
    <img ngSrc="/assets/portal.png" width="157" height="710" alt="">
  </div>
  <div class="strategies-portal strategies-portal-right">
    <img ngSrc="/assets/portal.png" width="157" height="710" alt="">
  </div>
  <app-horizontal-scroll
    direction="left"
    speed="slow">
  </app-horizontal-scroll>
  <hr class="strategies-divider"/>
  <app-horizontal-scroll
    direction="right"
    speed="slow">
  </app-horizontal-scroll>
  <hr class="strategies-divider"/>
  <app-horizontal-scroll
    direction="left"
    speed="slow"
    class="mobile-only">
  </app-horizontal-scroll>
</div>
<div class="layout-spacer"></div>
<div class="layout-spacer"></div>
<div class="strategies-button-wrapper align-center">
  <button class="strategies-button inward-button">ALL OUR SERVICES</button>
</div>
